<div class="text-center">
    <h1 class="display-4">I'm William Lebron</h1>
    <h2> I am3 Full Stack Web Developer specialized in Technologies .NET and JavaScript.</h2>

   <img 
   id="foto"
   src="~/imagenes/wi.jpg" alt="Foto de william" />

</div>

<div class="text-center">
    <img 
   id="imagen-dotnet"
   src="~/imagenes/dotnet-imagen-2.png" alt=".Net" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvebida">
        <h1>Welcome to my portafolio</h1>
        <p>
            My specialties: Full Stack Web Developer with C#, .NET, Javascript, SQL. I am a passionate coder that loves problem solving and automating tasks. I believe in clean code and the importance of good software architecture. With a passion on learning.
        </p>
    </div>

</div>
