@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
    <h1>My Proyects</h1>
    <p>Here you can see some of my most recent works.</p>

</div>

<partial name="_ListadoProyectos" model="Model" />